:root {
  --dark-color: #6bd5dcff;
}
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f9f9f9, #b6e1e5ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 40px 20px;
  color: #333;
}
header {
  text-align: center;
  margin-bottom: 40px;
}
header img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 8px;
}
h1 {
  font-size: 2rem;
  color: #ee682bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
header h1 a:hover {
  color: #33e91eff;
  cursor: pointer;
  
}

main {
  background: blue;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1rem;
}
main * {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: border 0.3s ease;
}
input[type="text"]:focus {
  outline: none;
  border-color: #0a66c2;
  box-shadow: 0 0 0 2px rgba(10, 102, 194, 0.2);
}
input:hover{
    background-color: #c5ef09ff;

}
/* for styling the autocomplete style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--dark-color) !important;
}

button {
   width: 100%;
  padding: 12px 15px;
  background-color: #0a66c2;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover{
     background-color: #11e62aff;

}
a {
  color: #6492f6;
  
}

/* dark mode css */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-color);
    color: #fff;
  }
  input,
  input:active {
    background: var(--dark-color);
    border-color: #fff;
    color: #fff;
  }

  /* for styling the autocomplete style */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }
}